.popup__close {
    background-image: url("../../../images/close_icon.svg");
    min-width: 58px;
    min-height: 58px;
    padding: 0;
    background-size: 100%;
    position: absolute;
    right: -47px;
    top: -43px;
    border: none;
    outline: none;
    margin: 0;
    z-index: 100;
    background-color: transparent;
    transition:  opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
}



.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}