
.element__delete {
    background-image: url("../../../images/delete.svg");
    background-color: transparent;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 20px;
    left: 249px;
    width: 18px;
    height: 19.3px;
    display: none;
    align-self: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    transition:  opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
}

.element__delete:hover {
    opacity: .6;
    cursor: pointer;
}
